---
layout: page
title: Blog
dispname: Evolutionary and Sensory Ecology
permalink: /blog/
---

{% for post in site.posts limit: 10 %}
  <article class="{% if forloop.first %}first{% elsif forloop.last %}last{% else %}middle{% endif %}">
    <div class="article-head">
      <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p class="date" style="font-style: italic; ">{{ post.date | date: "%b %d, %Y" }}</p>
    </div><!--/.article-head-->
    <div class="article-content" style="padding-bottom: 50px">
      {{ post.content }}
      <p align="center" style="font-style: bold; ">. . . . . . .</p>
    </div><!--/.article-content-->
  </article>
  {% if forloop.last %}{% else %}<div class="separater"></div>{% endif %}
{% endfor %}

<section class="archive">
  <p class="archive" align="center"><strong><a href="{{ site.baseurl }}/archive/">Archive</a></strong></p>
</section>