---
layout: default
---

<div class="header">
    <h1>{{ site.name }}</h1>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="blog">
    <ul>
        {% for post in paginator.posts %}
        <div class="post__content"?>
        {{ post.content }}
        </div>
        {% endfor %}
    </ul>
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous |</span>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">| Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
  <a href="{{ site.url }}/archive" class="archive">Archive</a>
</div>
